
body {
    background-color: white;
    color: #333;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    color: #e74c3c;
    font-size: 2.5rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

header p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: -2px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    margin-top: 1px;
}

nav ul li a:hover {
    color: #e74c3c;
}

#ricette-popolari {
    text-align: center;
    padding: 20px 0;
}

#ricette-popolari h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.ricetta {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 40px;
}

.ricetta img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.descrizione-ricetta h3 {
    color: #e74c3c;
    margin-top: 10px;
}

.descrizione-ricetta p {
    color: #555;
    font-size: 1rem;
}

.descrizione-ricetta-sinistra {
    text-align: left;
    padding-left: 10px;
}
.btn-salva-ricetta  {
    padding: 8px 12px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
}

.btn-salva-ricetta:hover {
    background-color: #f57c00;
}
.login-registrazione {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.login-registrazione a {
    padding: 8px;
    margin-right: 5px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.login-registrazione a:hover {
    background-color: #c0392b;
}

.login-registrazione p {
    margin: 0 10px;
    color: #555;
}

.messaggio-successo,
.messaggio-errore {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    z-index: 1000;
}

.messaggio-successo {
    background-color: green;
}

.messaggio-errore {
    background-color: red;
}


