body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.2em;
    color: #e74c3c;
}

header p {
    font-size: 1.1em;
    color: #555;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #e74c3c;
}

section {
    margin-bottom: 20px;
}

.login-registrazione {
    text-align: right;
    margin-top: 20px;
}

.login-registrazione a {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-registrazione a:hover {
    background-color: #c0392b;
}
.messaggio {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    z-index: 1000;
}

.messaggio {
    background-color: green;
}
/* Stili per il bottone a forma di cuore */
.btn-rimuovi-preferita {
    padding: 8px 12px;
    background-color: orange;
    color: red;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
}

.btn-rimuovi-preferita:hover {
    background-color: #f57c00; /* Cambia il colore del cuore al passaggio del mouse */
}

/* Contenitore per ciascuna ricetta */
.ricetta-preferita {
    position: relative; /* Per contenere il bottone di rimozione */
    margin-bottom: 20px; /* Spazio tra ciascuna ricetta */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
}

.ricetta-preferita img{
    width: 100%;
}

/* Posizionamento del bottone di rimozione */
.ricetta-preferita .btn-rimuovi-preferita {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.profilo-link {
    text-decoration: none; /* Rimuove la sottolineatura solo dal link */
}
#eliminazione-account {
    text-align: right;
    margin-top: 20px;
}

#eliminazione-account form {
    display: inline-block;
}

#eliminazione-account button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

#eliminazione-account button:hover {
    background-color: #c0392b;
}
